<%- include('../layout', { title: 'search results' }) %>

<section class="product-section">
  <h2 class="product-title">search results...</h2>
  <div class="product-grid">
    <% if (products.length > 0) { %> <% products.forEach(product => { %>
    <div class="product-card">
      <img
        src="<%= product.productImg %>"
        class="product-img"
        alt="<%= product.name %>"
      />
      <div class="product-info">
        <h5 class="product-name"><%= product.name %></h5>
        <p class="product-desc"><%= product.description %></p>
      </div>
    </div>
    <% }); %>
    <% } else { %>
    <li style="list-style-type: none">No products found</li>
    <% } %>
  </div>
</section>
